a {
    text-decoration: none;
}

body {
    max-width: 90%;
    margin: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    max-width: 75%;
    margin: auto auto 20px;
    font-family: calibri, sans-serif;
}

iframe {
    border: none;
}

/*p {
	font-size: 18px;
}*/
